# dev
poetry.lock
.idea


# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*
custom_components/roborock_old/*
custom_components/roborock_new/*

# misc
.coverage
coverage.xml


# Home Assistant configuration
config/*
!config/configuration.yaml